.random-color {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: all 1s;
}

.random-color button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  width: 200px;
  font-size: 1rem;
}

.random-color .colors {
  background-color: antiquewhite;
  border-radius: 5px;
  width: 200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.random-color p {
  margin: 0;
}
